---
layout: default
title: Silencily's Blog
---
{% include JB/setup %}
<!-- search area-->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">学会寻找？</h3>

        <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>

        <form id="search-form" class="search-form clearfix" method="get"
              autocomplete="off" novalidate="novalidate">
            <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here"
                   title="* Please enter a search term!" autocomplete="off">
            <input id="search" class="search-btn" type="submit" value="Search">

            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- search result -->
<div id="search_results" class="container-fluid">

</div>
<!-- footer -->
<div id="footer-wrapper">
    <div id="footer" class="container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <section class="widget"><h3 class="title">Categories</h3>
                    <ul>
                        {% assign categories_list = site.categories %}
                        {% include JB/categories_list %}
                    </ul>
                </section>
            </div>


            <div class="span4">
                <section class="widget"><h3 class="title">Latest Archives</h3>

                    <div id="latest_post_list">
                        <ul>
                            {% assign index_posts_collate = site.posts %}
                            {% include JB/index_posts_collate %}
                        </ul>
                    </div>
                </section>
            </div>
            <div class="span4">
                <section class="widget"><h3 class="title">About</h3>

                    <div class="textwidget">
                        <p>Name: silencily seven</p>
                        <p>Email:{{ site.author.email }}</p>
                        <p>Resume: enter 'silencily' in the search box.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- end of #footer -->
</div>
<script src="{{ BASE_PATH }}/assets/jquery/jquery-1.10.2.js"></script>
<script src="{{ BASE_PATH }}/assets/jquery/jquery-tapir.js"></script>
<script type="text/javascript">
    $(function(){
        $('#search-form').submit(function(){
            var param=$('#s').val();
            if(!param||param.length==0){
                $('#search-error-container').html('<label for="s" generated="true" class="error">* Please enter a search term!</label>');
                return false;
            }
            if(param == 'silencily'){
                window.open('about.html');
                return false;
            }
            $('#search-error-container').empty();
            var settings={'token':'51fd17de3484680200000002','query_param':param};
            $('#search_results').tapir(settings);
        });
    });
</script>